@font-face{

  font-family: 'MyWebFont';
  src: url('./9903.otf');
  font-weight: lighter;
  font-style: normal;
}
.Persik {
  display: block;
  width: 30%;
  max-width: 240px;
  margin: 20px auto;
}
.ded {
  width: 100%;
}
.Cell__children {
  color: red;
}

body{
  --header_background:#B5241C;
  --destructive: #B5241C;
}
.description {
  
  text-align: center;
  font-family: 'MyWebFont';
  color:#B5241C;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.des {
  text-align: center;
  font-family: 'MyWebFont';
  color:#B5241C;
  font-size: 2rem;
}